    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
    }

    .cabecalho {
        background-color: white;
        padding: 60px 0;
        text-align: center;
    }

    .cabecalho h1 {
        font-size: 3rem;
        color: #333;
    }

    .conteudo-principal {
        background-color: lavender; /* Violeta claro */
        min-height: 100vh;
    }
.container-foto {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.foto-perfil {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.nome {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
}
